// Text colors
$text-color:         #444;
$medium-text-color:  #666;
$light-text-color:   #888;
$link-color:         #4A89DC;
$accent-color:       #F2C852; // pale orange
$site-title-color:   #555555;
$site-nav-color:     $site-title-color;

// Background & non-text colors:
$site-header-bg:     #E1B5F7;
$main-bg:            #F3E6FA;
$page-border:        #EDE5DA;


